body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 40px;
}
.start-button {
  background-color: greenyellow;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 7px;
}
.contents {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
.content {
  width: 35vw;
  height: 120px;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}
.today-title {
  background-color: white;
  margin: 20px 0px;
  font-size: 22px;
  padding: 5px;
  border-radius: 7px;
}

@media (max-width: 600px) {
  .contents {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .content {
    width: 80vw;
  }
}
