.a1 {
  background-color: aquamarine;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.a2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.b2 {
  background-color: blue;
  height: 400px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.b3 {
  background-color: blue;
  height: 400px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.c1 {
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px -5px 5px gray;
}

.c2 {
  background-color: tomato;
  height: 50px;
  width: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
}

.c3 {
  background-color: tomato;
  height: 50px;
  width: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
}

/* div (상자, display : block)
  span (글, display : inline)
*/



